:root {
  --primary-text-colour: #757575;
  --secondary-text-colour: #212121;
  --accent-colour: #2196f3;
  --logo-text-colour: #000000;
  --primary-white-colour: #ffffff;
  --primary-background-colour: #2f303a;
  --secondary-background-colour: #e5e5e5;
  --shadowing-colour: #ececec;
  --button-colour: #f5f4fa;
  --card-shadow-colour: #eeeeee;
  --card-gap: 30px;
  --hero-background: #c4c4c4;
}
